<div *ngIf="userDetail" class="container" style="margin-top: 70px;">
  <h1>USER DETAIL !</h1>
  <form (ngSubmit)="save()" [formGroup]="userForm">
    <div class="form-group">
      <label for="name" id="name-label">Name</label>
      <input id="name" class="form-control" formControlName="name">
      <div id="name-warning" *ngIf="nameCtrl.dirty && nameCtrl.hasError('required')">Name is required</div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userForm.invalid">Save</button>
    <button class="btn btn-primary" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>

