<div class="container" style="margin-top: 70px;">
  <h1>USER DETAIL :</h1>
  <form (ngSubmit)="save()" [formGroup]="userForm">
    <div class="form-group">
      <label for="name" id="name-label">Name</label>
      <input id="name" class="form-control" formControlName="name">
      <div id="name-warning" *ngIf="userForm.get('name').hasError('required')" style='color:red'>Name is required</div>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="userForm.pristine || userForm.invalid">Save</button>
    <button class="btn btn-danger" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
